.webassets-cache/
webassets-external/
.DS_Store
*.pyc
*.pyo
env
venv
*.env
env*
dist
*.egg
*.egg-info
*.sqlite
.idea
dump.rdb
.vscode/
app/static/scripts/app.js
app/static/scripts/vendor.js
app/static/styles/vendor.css
