<p>Dear {{ user.full_name() }},</p>

<p>Welcome to <b>{{ config.APP_NAME }}</b>!</p>

<p>To confirm your account, please <a href="{{ url_for('account.confirm', token=token, _external=True) }}">click here</a>.</p>

<p>Alternatively, you can paste the following link in your browser's address bar:</p>

<p>{{ url_for('account.confirm', token=token, _external=True) }}</p>

<p>Sincerely,</p>

<p>The {{ config.APP_NAME }} Team</p>

<p><small>Note: replies to this email address are not monitored.</small></p>