{% macro password_check(field) %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
<script>
  $('#submit').attr('disabled', true);
  $('#{{ field }}').after('<meter max="4" id="password-strength-meter"></meter><p id="password-strength-text"></p>');
  var strength = {
    0: "Worst",
    1: "Bad",
    2: "Weak",
    3: "Good",
    4: "Strong"
  }
  var meter = document.getElementById('password-strength-meter');
  var text = $('#password-strength-text');

  $('#{{ field }}').keyup(function() {
    var result = zxcvbn($(this).val());
    // Update the password strength meter
    meter.value = result.score;
    if(result.score >= 2) {
      $('#submit').attr('disabled', false);
    } else {
      $('#submit').attr('disabled', true);
    }
    // Update the text indicator
    if ($(this).val() !== "") {
      $(text).html("Strength: " + strength[result.score]); 
    } else {
      $(text).html("");
    }
  });
</script>
<style>
  meter {
    /* Reset the default appearance */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;

    margin: 10 auto 1em;
    width: 100%;
    height: 0.5em;

    /* Applicable only to Firefox */
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
  }

  meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
  }
  /* Webkit based browsers */
  meter[value="1"]::-webkit-meter-optimum-value { background: red; }
  meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
  meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
  meter[value="4"]::-webkit-meter-optimum-value { background: green; }

  /* Gecko based browsers */
  meter[value="1"]::-moz-meter-bar { background: red; }
  meter[value="2"]::-moz-meter-bar { background: yellow; }
  meter[value="3"]::-moz-meter-bar { background: orange; }
  meter[value="4"]::-moz-meter-bar { background: green; }
</style>

{% endmacro %}